{% extends 'core/core.html' %}
{% load static %}

{% block content-main %}
<section class="ftco-section ftco-no-pt ftco-no-pb resume" id="resume">
    <div class="container px-md-0">
        <div class="row d-flex no-gutters">
            <div class="col-lg-12 pb-5 single ">
                <div class="px-5 mt-5">
                    <h1 class="mb-4 text-center">EXPERIENCE</h1>
                    <p class="text-center mb-5">All the positions mentioned are duly certified and approved by bosses and people in charge.</p>
                    <div class="row">
                        <div class="col-lg-6 ">                           
                            <h3 class="resume-title">Education</h3>                            
                            {% for edu in education  %}
                                <div class="resume-item">
                                    <h4>{{edu.title}}</h4>
                                    <h5>{{edu.start_date}} - {{edu.ending_date}} </h5>
                                    <p><em>{{edu.subtitle}}</em></p>                                    
                                </div>
                            {% endfor %}                           
                        </div> 
                        <div class="col-lg-6 ">
                            <h3 class="resume-title">Professional Experience</h3>                            
                            {% for prof in professional  %}
                                <div class="resume-item">
                                    <h4>{{prof.title}}</h4>
                                    <h5>{{prof.start_date}} - {{prof.ending_date}}</h5>
                                    <p><em>{{prof.subtitle}}</em></p>
                                    <p>{{prof.content_exerience | safe}}</p>
                                </div>
                            {% endfor %}      
                        </div>                                                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content-main %}
	
